:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: calc(100% - 40px);
    max-width: 500px;
    z-index: 1001;
}

.close-button {
     background: none;
     border: none;
     font-size: 20px;
     color: #fff;
     cursor: pointer;
}

.event-form {
     display: flex;
     flex-direction: column;
}

.form-input {
     margin-bottom: .6em;
     padding: .6em;
     border-radius: .4em;
     border: none;
     background-color: #2a2a2a;
     color: #fff;
}

.submit-button,
.close-button {
     margin-top: .6em;
}
